
# Project: Investigate a Dataset (TMDb movie data analysis)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction


This dateset was taken from The Movie Database (TMDb)https://www.themoviedb.org/
<br>In this dataset, each row represent a movie, and columns are the features of the movie.

In thus report, I have explored two questions: 
<li>   Does budget relate to vote average of the movie?</li>
<li>   What percent of the movie made no revenue?</li>

In [ ]:
# Set up. Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling


### General Properties

In [1]:
# Load data and check general properties.
df = pd.read_csv("tmdb-movies.csv")
df.head()

NameError: name 'pd' is not defined

In [ ]:
df.info()
df.nunique()
df.isnull().sum()

### Data Cleaning (Check for missing value and drop column that not relevant.)

Now the data is loaded. I will make the following changes:
<li> Find the duplicated row, and drop these data. </li>
<li> Drop "homepage" and "imdb_id" column, they are not relevant and have a lot missing value. </li>
<li> Fill row with missing value </li>

In [2]:
# Drop duplicated row
df.duplicated()
df.drop_duplicates(inplace = True)
sum(df.duplicated())

NameError: name 'df' is not defined

In [3]:
# Drop "homepage" and "imdb_id".
df = df.drop('homepage', axis = 1)
df = df.drop('imdb_id', axis = 1)

NameError: name 'df' is not defined

In [4]:
# Fill row with missing value
df.fillna("no info", inplace = True)
sum(df.duplicated())

NameError: name 'df' is not defined

<a id='eda'></a>

## Exploratory Data Analysis


### Research Question 1 (Does budget relate to vote average of the movie?)

First to get a rough idea of the budget, draw sactter plot to see if there's a pattern. 
Then divide the vote into three bins to find budget in each level of vote.
I use budget_adj becuase it takes care of inflation.

In [5]:
# Visualize using scatter plot
df.plot(x = "vote_average", y = "budget_adj", kind = "scatter");
plt.title("vote-budget")

NameError: name 'df' is not defined

In [6]:
# Set proper edge and divide the average vote into three categories

df["vote_average"].max(), df["vote_average"].min()
bin_edges = [0.0,3.0,6.0,9.0]
bin_names = ["low","medium","high"]

#create "vote" column
df["vote"] = pd.cut(df["vote_average"], bin_edges, labels = bin_names)
df.head()

NameError: name 'df' is not defined

In [7]:
# Find the mean budget for each vote
budget_mean = df.groupby("vote")["budget"].mean()

NameError: name 'df' is not defined

In [8]:
# Visualize
# Add column of the three level of average vote, then plot bar graph

plt.xlabel("vote", fontsize = 18)
plt.ylabel("average budget", fontsize = 18)
plt.bar(bin_names, budget_mean)
plt.title("Budget for three votes")
plt.show()

NameError: name 'plt' is not defined

### Research Question 2  (What is the percent of the movie that made no revenue?)

I notice a lot of movie has revenue 0, so I wonder how much percentage of movie is not making any money.
First seperate the movies by revenue bigger than 0(has revenue) and equal to zero(no revenue)
Then calculate the percentabe using count/total
Finally use pie chart to display the percentage.

In [9]:
# lose_percent = df_lose.id.count()/(df_lose.id.count() + df_win.id.count())
# win_percent = 1 - lose_percent
df_lose = df.query('revenue_adj == 0')
df_win = df.query('revenue_adj > 0')
df_lose.id.count(), df_win.id.count()

NameError: name 'df' is not defined

In [10]:
# Pie chart

labels = 'Lose', 'Win'
sizes = [2855,4176]

fig1, ax1 = plt.subplots()
ax1.pie(sizes, labels=labels, autopct='%1.1f%%', startangle=90)

plt.title("Percent of Revenue")
plt.show()

NameError: name 'plt' is not defined

<a id='conclusions'></a>
## Conclusions
><br>Result: our data suggested that
<br>1. The movie with high vote has high budget, and movie with low vote has low budget.
<br>2. Almost a half of the movie does not make revenue.

><br>Limitation: there are couple of limitation of our data
<br>1. Drooping missing value might cause unintentional bias.
<br>2. Our analysis is based on given TMDb dataset. Some information is missing.